.li-ext-btn-container {
    background-color: #673AB7 !important;
}

.li-ext-btn-container:hover {
    background-color: #513a82 !important;
}

.li-ext-btn-container.inactive {
    background-color: #513a82 !important;
    cursor: default;
}

.li-ext-btn-container a, .li-ext-btn-container a:hover {
    color: #fff;
}

.li-ext-add:before {
    content: "Add";
}

.li-ext-added {
    cursor: default;
}

.li-ext-added:before {
    content: "Added";
}

.li-ext-error:before {
    content: "Error";
    color: #f55
}

.li-ext-in-progress:before {
    content: "…";
}

.hidden {
    display: none;
}


/*
 * Tags
 */
#li-ext-tags {
    margin: 15px 0;
}

.tm-tag {
    display: inline-block;
    position: relative;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 10px 0 0;
    padding: 5px 12px;
    outline-width: 2px;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.6), inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    cursor: pointer;
}
.tm-tag .tm-tag-remove {
    color: #000;
    font-weight: bold;
    margin-left: 4px;
    opacity: 0.2;
}
.tm-tag .tm-tag-remove:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.4;
}
.tm-tag.tm-tag-warning {
    color: #945203;
    background-color: #f2c889;
    border-color: #f0a12f;
}
.tm-tag.tm-tag-error {
    color: #84212e;
    background-color: #e69ca6;
    border-color: #d24a5d;
}
.tm-tag.tm-tag-success {
    color: #638421;
    background-color: #cde69c;
    border-color: #a5d24a;
}
.tm-tag.tm-tag-info {
    color: #4594b5;
    background-color: #c5eefa;
    border-color: #5dc8f7;
}
.tm-tag.tm-tag-inverse {
    color: #cccccc;
    background-color: #555555;
    border-color: #333333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.tm-tag.tm-tag-inverse .tm-tag-remove {
    color: #ffffff;
}
.tm-tag.tm-tag-large {
    font-size: 16.25px;
    border-radius: 4px;
    padding: 11px 7px;
}
.tm-tag.tm-tag-small {
    font-size: 11.049999999999999px;
    border-radius: 3px;
    padding: 2px 4px;
}
.tm-tag.tm-tag-mini {
    font-size: 9.75px;
    border-radius: 2px;
    padding: 0px 2px;
}
.tm-tag.tm-tag-plain {
    color: #333333;
    box-shadow: none;
    background: none;
    border: none;
}
.tm-tag.tm-tag-disabled {
    color: #aaaaaa;
    background-color: #e6e6e6;
    border-color: #cccccc;
    box-shadow: none;
}
.tm-tag.tm-tag-disabled .tm-tag-remove {
    display: none;
}
input[type="text"].tm-input {
    margin-bottom: 5px;
    vertical-align: middle !important;
}
.control-group.tm-group {
    margin-bottom: 5px;
}
.form-horizontal .control-group.tm-group {
    margin-bottom: 15px;
}

/**
 * Typeahead
 */
.twitter-typeahead {
    display: block !important;
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
span.twitter-typeahead {
    width: 100%;
}
span.twitter-typeahead {
    display: block !important;
    height: 34px;
}
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
span.twitter-typeahead {
    height: 30px;
}
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}
span.twitter-typeahead {
    height: 46px;
}
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}