.notify{position:fixed;padding:20px;color:#fff}.notify[data-position="bottom"]{right:0;left:0;bottom:0}.notify[data-position="top"]{right:0;left:0;top:0}.notify[data-position="right"]{right:0;bottom:0;top:0;max-width:300px}.notify[data-position="left"]{left:0;top:0;bottom:0;max-width:300px}.notify[data-notify='success']{background:#15cc1f}.notify[data-notify='info']{background:#2d9cee}.notify[data-notify='error']{background:#f32750}.notify[data-notify='default']{background:#cf80ad}.notify .notify-close{cursor:pointer;position:absolute;right:0;top:0;color:#fff;padding:10px 15px;font-size:20px;text-decoration:none}.notify h1{margin:5px 0 10px 0;text-transform:uppercase;font-weight:300;color:#fff}
.notify {
    z-index: 10000;
}